* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center
}

.title {
    text-align: center;
    padding: 24px;
}

.player-one-container,
.player-two-container {
    text-align: center;
}

.player-one-board,
.player-two-board {
    margin-bottom: 24px;
}

.board-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.cell {
    border: none;
    background-color: none;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 40px;
    height: 40px;
}

.cell.available {
    background-color: green;
}

.cell.unavailable {
    background-color: red;
}

.cell.missed {
    background-color: blue;
}

.cell.ship {
    background-color: orange;
}

.cell.ship-hit {
    background-color: red;
}

.row .cell:first-child {
    border-left: 2px solid black;
}

.row:first-child .cell {
    border-top: 2px solid black;
}

.row {
    display: flex;
}

.orientation-btn,
.reset-btn {
    border: 2px solid #000;
    background: none;
    padding: 4px 8px;
    border-radius: 6px;
}

.orientation-btn:hover,
.reset-btn:hover {
    background-color: #c2c2c2;
}

.message,
.error-message,
.orientation-btn {
    margin-bottom: 10px;
}